.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

  margin: 0;
  padding: 0;
}

.backshadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.beigeBackground {
  background-color: #fff4ee;
}

.container {
  overflow: hidden;
  border-radius: 1rem;
}

.image {
  width: auto;
  max-height: 95vh;
}
