<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <script
      src="https://unpkg.com/htmx.org@1.9.12"
      integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
      crossorigin="anonymous"
    ></script>
    <script></script>
    <div class="element">
      <div class="div">
        <div class="frame">
          <div class="overlap">
            <div class="group">
              <div class="overlap-group">
                <div class="rectangle-board">
                  <div class="overlap-group-2">
                    <div class="rectangle"></div>
                    <img class="mask-group" src="img/mask-group.png" />
                  </div>
                </div>
                <p class="text-wrapper">
                  Rewards for your Efforts: Clean, Restore, Volunteer!
                </p>
              </div>
            </div>
            <button class="button">
              <div class="state-layer">
                <div class="label-text">Learn more</div>
              </div>
            </button>
          </div>
        </div>
        <a
          class="card"
          hx-get="/swap.html"
          hx-swap="innerHTML"
          hx-trigger="click"
        >
          <img class="thumbnail" src="img/thumbnail.png" />
        </a>
        <div class="thumbnail-2">
          <div class="text-wrapper-2">Volunteer</div>
          <img class="i" src="img/i4-1.svg" />
        </div>
        <div class="thumbnail-wrapper">
          <div class="overlap-group-wrapper">
            <div class="overlap-group-3">
              <div class="text-wrapper-3">Join Cleanup<br />Events</div>
              <img class="img" src="img/i3-1.svg" />
            </div>
          </div>
        </div>
        <div class="div-wrapper">
          <div class="thumbnail-3">
            <div class="overlap-group-4">
              <div class="text-wrapper-3">Create an event</div>
              <img class="i-2" src="img/i2-1.svg" />
            </div>
          </div>
        </div>
        <div class="title">
          <div class="text-wrapper-4">Help your community</div>
          <p class="p">Choose one task and help your city to stay clean</p>
        </div>
        <div class="frame-2">
          <div class="device-device-frame"></div>
          <div class="navigation-bar">
            <div class="segment">
              <div class="icon-container">
                <div class="icon-wrapper"><div class="icon"></div></div>
              </div>
              <div class="label-text-2">Home</div>
            </div>
            <a class="segment" href="/test.html">
              <div class="state-layer-wrapper">
                <div class="state-layer-2"><div class="icon-2"></div></div>
              </div>
              <div class="label-text-3">Map</div>
            </a>
            <div class="segment">
              <div class="state-layer-wrapper">
                <div class="state-layer-2"><div class="icon-3"></div></div>
              </div>
              <div class="label-text-3">Profile</div>
            </div>
            <div class="segment">
              <div class="state-layer-wrapper">
                <div class="state-layer-2"><div class="icon-4"></div></div>
              </div>
              <div class="label-text-3">Rewards</div>
            </div>
          </div>
        </div>
        <div class="frame-3">
          <div class="group-2">
            <div class="frame-4">
              <div class="text-wrapper-5">3 Tokens</div>
            </div>
            <div class="frame-5">
              <div class="text-wrapper-5">32 Points</div>
            </div>
          </div>
          <div class="frame-6">
            <div class="element-avatars"></div>
            <div class="text-wrapper-6">Hi, Alex</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
